.app {
    width: 50%;
    margin: 0 auto;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.692)
}
.d-flex{
    background:rgba(148, 233, 188, 0.39);

}
h1 , h2 , label{
    color: lightsteelblue;
}
