body {
    margin: 0;
    padding: 0;
}

.spider-div {
    background-image: url("../img/spider.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: 50%;
    
    margin-left: 1rem;   
    
}


.header-div {
    background-color: #620808;
    color: white;
}
.header-div > p {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width:1100px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "spider spider spider" ;

    }
    .card{
        margin: 1rem;
    }

    .spider-main {
        grid-area: spider;
    }
    .spider-div{
        margin: 0 auto;
    }
}

@media screen and (max-width:800px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "spider spider " ;

    }
    .card{
        margin: 1rem;
    }
    .spider-main {
        grid-area: spider;
    }
    .spider-div{
        margin: 0 auto;
    }
}

@media screen and (max-width:650px){
    .container{
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-areas:
        ". spider . " ;

    }
    .card {
        grid-column: 2/3;
        margin: 1rem;
    }

    .spider-main {
        grid-area: spider;
    }
    .spider-div{
        margin: 0 auto;
    }
}
}


